<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add Blog</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>

    <div class="container mt-3">
      <form action="/blog/" method="POST">
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input
            type="file"
            name="title"
            id="coverImage"
            class="form-control"
            aria-describedby="coverImage"
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="title"
            id="name"
            class="form-control"
            aria-describedby="title"
          />
        </div>
        <div class="mb-3">
          <label for="body">Body</label>
          <textarea
            class="form-control mt-3 resize-none"
            placeholder="Leave a comment here"
            id="body"
            name="body"
          ></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
