<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/navbar') %> <%= JSON.stringify(locals.user) %>
    <h1>Welcome to your very own Blog App.</h1>
    <%-include('./partials/scripts') %>
  </body>
</html>
